@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");

.body {
  margin: auto;
  font-family: "Raleway", sans-serif;
  width: 50%;
  padding: 10px;
  font-size: larger;
}

.title{
    font-size: large;
}

.black{
    color: black;
}

.link{
  text-decoration: none !important;
  color: black;
}

.sub-title {
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

li{
  padding-top:25px;
}